.ch {
	width: 100%;
}
.inputDiv {
	/* border: 2px solid red; */
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.inputTagName {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	letter-spacing: 0.05rem;
	font-size: 1rem;
}
.inputAreaDiv {
	display: flex;
	align-items: center;
	gap: 2rem;
	background-color: #f8f9fa;
	width: 100%;
	margin-top: 15px;
	height: 40px;
}
.inputArea {
	font-size: 0.9rem;
	font-family: "Poppins", sans-serif;
	letter-spacing: 0.02rem;
	outline: none;
	border: none;
	background-color: #f8f9fa;
	width: 80%;
}
.emailIcon {
	font-size: 1.2rem;
	margin-left: 15px;
}
