.BackgroundLayoutDiv {
	width: 50%;
}
.iconStyle {
	/* border: 2px solid red; */
	margin-top: 15vh;
	/* text-align: center; */
	font-family: "Poppins", sans-serif;
	font-size: 2.1rem;
	font-weight: 600;
}
.iconTagLine {
	/* border: 2px solid red; */
	width: 50%;
	margin: 15px auto 0 auto;
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-size: 0.9rem;
	color: rgba(0, 0, 0, 0.411);
	font-weight: 500;
}
.inputEmailDiv {
	width: 60%;
	margin: 70px auto 0 auto;
}
.emailLabel {
	display: block;
	font-family: "Poppins", sans-serif;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	letter-spacing: 0.05rem;
	font-size: 1rem;
	cursor: pointer;
	margin-top: 25px;

	&:first-child {
		margin-top: 0;
	}
}
.inputDiv {
	margin-top: 20px;
	height: 40px;
	display: flex;
	align-items: center;
	gap: 2rem;
	background-color: #f8f9fa;
}
.inputEmail {
	border: none;
	outline: none;
	background: transparent;
	font-size: 0.9rem;
	font-family: "Poppins", sans-serif;
	letter-spacing: 0.02rem;
	width: 80%;
}
.emailIcon {
	font-size: 1.2rem;
	margin-left: 15px;
}
.submitBtn {
	margin-top: 30px;
	/* display: block; */
	width: 100%;
	height: 37px;
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	font-weight: 500;
	background-color: #0066b2;
	color: white;
	outline: none;
	border: none;
	border-radius: 20px;
	transition: 0.3s;
	cursor: pointer;
}
.submitBtn:hover {
	background-color: #005291;
}
.noAccPara {
	/* border: 2px solid red; */
	margin-top: 25px;
	margin-bottom: 10px;
	text-align: center;
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	font-weight: 500;
}
.SignUpLink {
	color: #01276d;
}
.mailPara {
	text-align: center;
	margin-top: 40px;
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	font-weight: 500;
	color: green;
}

@media screen and (max-width: 1308px) {
	.iconTagLine {
		width: 60%;
	}
	.inputEmailDiv {
		width: 70%;
	}
}
@media screen and (max-width: 1095px) {
	.iconTagLine {
		width: 70%;
	}
	.inputEmailDiv {
		width: 80%;
	}
}
@media screen and (max-width: 937px) {
	.iconTagLine {
		width: 80%;
	}
	.inputEmailDiv {
		width: 90%;
	}
}
@media screen and (max-width: 585px) {
	.noAccPara {
		font-size: 0.8rem;
	}
}
@media screen and (max-width: 568px) {
	.BackgroundLayoutDiv {
		width: 100%;
	}
	.iconTagLine {
		width: 70%;
	}
	.inputEmailDiv {
		width: 80%;
	}
	.noAccPara {
		font-size: 1rem;
	}
}
@media screen and (max-width: 466px) {
	.iconTagLine {
		width: 80%;
	}
	.inputEmailDiv {
		width: 90%;
	}
}
