.followIcon {
	color: #00308f;
	cursor: pointer;
	font-size: 1.1rem;
	transition: 0.3s ease-in-out;
}
.followIcon:hover,
.unfollowIconColour:hover {
	transform: scale(1.2);
}
.unfollowBtn {
	outline: none;
	border: none;
	background-color: white;
	display: flex;
	align-items: center;
}
.followBtn {
	outline: none;
	border: none;
	background-color: white;
	display: flex;
	align-items: center;
}
.unfollowIconColour {
	color: rgba(210, 0, 0, 0.87);
	font-size: 1.1rem;
	font-family: "Poppins", sans-serif;
	transition: 0.3s ease-in-out;
	cursor: pointer;
}
