.userDescriptionDiv {
	background-color: white;
	width: 95%;
	margin: auto;
	padding: 20px;
}
.userDescriptionWholeDiv {
	min-height: 95px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.155);
}
.userPictureDiv {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	overflow: hidden;
}
.userImg {
	width: 100%;
}
.descriptionInputDiv {
	width: 90%;
	min-height: 50px;
	padding: 8px 13px 8px 13px;
	border-radius: 25px;
	background-color: rgb(245, 245, 245);
}
.descriptionInput {
	width: 100%;
	min-height: 30px;
	font-size: 0.85rem;
	font-family: "Poppins", sans-serif;
	outline: none;
	border: none;
	background: transparent;
	letter-spacing: 0.03rem;
}
.variousInputDiv {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	font-family: "Poppins", sans-serif;
}
.inputSpan {
	display: flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
	color: rgba(0, 0, 0, 0.742);
	&:hover {
		color: #004cdb;
	}
}
.icon {
	font-size: 1.1rem;
}
.iconText {
	font-size: 0.97rem;
}
.postBtn {
	width: 75px;
	height: 25px;
	border-radius: 15px;
	outline: none;
	border: none;
	background-color: #318ce7;
	color: white;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 1rem;
	cursor: pointer;
	position: relative;
	transition: 0.3s;
	&:hover {
		background-color: #2366a9;
	}
}
.spinnerPara {
	position: absolute;
	top: 13%;
	left: 40%;
}
.fileInputDiv {
	min-height: 60px;
	display: flex;
	padding: 15px 0;
	align-items: center;
	justify-content: center;
	font-family: "Poppins", sans-serif;
	font-size: 0.8rem;
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.155);
	position: relative;
}
.hiddenInput {
	display: none;
}
.inputFileWhole {
	display: flex;
	align-items: center;
	justify-content: center;
}
.warningDiv {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.uploadWarning {
	color: rgb(98, 98, 0);
	width: 90%;
	font-weight: 600;
	font-size: 0.95rem;
}
.warningIcon {
	font-size: 2rem;
}
.maxSize {
	color: red;
	font-size: 1rem;
}
@media screen and (max-width: 1351px) {
	.descriptionInputDiv {
		width: 87%;
	}
}
@media screen and (max-width: 1071px) {
	.userDescriptionDiv {
		margin: initial;
	}
}
@media screen and (max-width: 799px) {
	.userDescriptionDiv {
		width: 100%;
	}
}
@media screen and (max-width: 548px) {
	.uploadWarning {
		font-size: 0.8rem;
	}
}
@media screen and (max-width: 470px) {
	.descriptionInputDiv {
		width: 85%;
	}
}
@media screen and (max-width: 452px) {
	.uploadWarning {
		font-size: 0.7rem;
		width: 85%;
	}
	.iconText {
		font-size: 0.9rem;
	}
}
@media screen and (max-width: 424px) {
	.descriptionInputDiv {
		width: 82%;
	}
	.userPictureDiv {
		width: 44px;
		height: 44px;
	}
}
@media screen and (max-width: 401px) {
	.iconText {
		font-size: 0.8rem;
	}
	.inputSpan {
		gap: 3px;
	}
	.icon {
		font-size: 0.9rem;
	}
}
@media screen and (max-width: 357px) {
	.descriptionInputDiv {
		width: 80%;
	}
	.iconText {
		display: none;
	}
	.icon {
		font-size: 1.3rem;
	}
}
