.HomeBackground {
	background-color: rgba(189, 188, 188, 0.197);
}
.heroSection {
	margin: 30px auto 0 auto;
	width: 90%;
	display: flex;
	justify-content: space-between;
}
@media screen and (max-width: 1242px) {
	.heroSection {
		width: 95%;
	}
}
@media screen and (max-width: 1130px) {
	.heroSection {
		width: 98%;
	}
}
@media screen and (max-width: 1071px) {
	.heroSection {
		width: 85%;
	}
}
@media screen and (max-width: 960px) {
	.heroSection {
		width: 90%;
	}
}
@media screen and (max-width: 905px) {
	.heroSection {
		width: 95%;
	}
}
@media screen and (max-width: 870px) {
	.heroSection {
		width: 98%;
	}
}
@media screen and (max-width: 799px) {
	.heroSection {
		width: 80%;
		justify-content: center;
	}
}
@media screen and (max-width: 638px) {
	.heroSection {
		width: 90%;
	}
}
@media screen and (max-width: 572px) {
	.heroSection {
		width: 95%;
	}
}
