.overallCommentDiv {
	padding: 15px 0;
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.24);
}
.overallCommentDiv:last-child {
	border-bottom: none;
}
.eachCommentDiv {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.userPhotoDiv {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	overflow: hidden;
}
.userImg {
	width: 100%;
}
.userInfo {
	width: 91%;
	font-family: "Poppins", sans-serif;
}
.headDateDiv {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* border: 2px solid red; */
}
.deleteBtn {
	outline: none;
	border: none;
	background-color: white;
	cursor: pointer;
}
.deleteIcon {
	font-size: 1rem;
	font-weight: 500;
	color: rgba(255, 0, 0, 0.848);
	transition: all 0.3s;
}
.deleteBtn:hover {
	transform: scale(1.05);
}
.headName {
	font-size: 0.9rem;
	font-weight: 400;
}
.userComment {
	margin-top: 5px;
	font-size: 0.9rem;
	font-weight: 600;
}
.deleteHeader {
	font-size: 1.8rem;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}
.deletPara {
	font-size: 0.9rem;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	margin-top: 30px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgba(255, 0, 0, 0.862);
	background-color: rgba(255, 0, 0, 0.17);
}
.btnDiv {
	margin-top: 20px;
	display: flex;
	justify-content: flex-end;
	gap: 0.8rem;
}
.cancelBtn {
	background-color: white;
	font-family: "Poppins", sans-serif;
	font-size: 0.9rem;
	font-weight: 500;
	border: none;
	outline: none;
	padding: 10px 10px;
	transition: all 0.2s;
	cursor: pointer;
	&:hover {
		background-color: #f3f4f6;
	}
}
.deleteBtn2 {
	font-family: "Poppins", sans-serif;
	border: none;
	outline: none;
	font-size: 0.9rem;
	font-weight: 500;
	background-color: rgba(255, 0, 0, 0.848);
	padding: 10px 10px;
	letter-spacing: 0.02rem;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	transition: all 0.2s;
	&:hover {
		background-color: rgba(195, 0, 0, 0.848);
	}
}
