.backgroundDiv {
	background-color: white;
	/* border: 2px solid red; */
	width: 95%;
	padding: 20px;
	margin: 40px auto 0 auto;
}
.backgroundDiv:first-child {
	margin-top: 0;
}
.postProfileInfo {
	/* margin-top: 20px; */
	/* border: 1px solid red; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.postUserPictureSkeleton {
	height: 60px;
	width: 60px;
	border-radius: 50%;
}
.postUserPicture {
	width: 100%;
}
.userName {
	font-size: 1.05rem;
	font-weight: 700;
	font-family: "Poppins", sans-serif;
}
.userInfoDiv {
	/* border: 1px solid red; */
	width: 87%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.userLocation {
	font-size: 0.7rem;
	font-size: 500;
	margin-top: 5px;
	font-family: "Poppins", sans-serif;
	color: rgba(0, 0, 0, 0.573);
}
.followIcon {
	color: #025bb4;
	cursor: pointer;
	font-size: 1.1rem;
	transition: 0.2s ease-in-out;
}
.followIcon:hover {
	color: #00308f;
	transform: scale(1.1);
}
.description {
	/* border: 2px solid red; */
	font-family: "Poppins", sans-serif;
	font-size: 0.9rem;
	margin-top: 15px;
}
.imagePostDiv {
	margin-top: 20px;
}
.imagePost {
	width: 100%;
	border-radius: 20px;
}
.imagePostSkeleton {
	width: 100%;
	height: 800px;
}
.videoPost {
	width: 100%;
	border-radius: 20px;
}
.videoPostSkeleton {
	width: 100%;
	height: 750px;
}
.likeCommentSection {
	margin-top: 20px;
	display: flex;
	justify-content: space-evenly;
}
.reactIcons {
	font-size: 1.7rem;
}
.reactIcons2 {
	font-size: 1.9rem;
}
.reactText {
	font-size: 1.1rem;
	font-family: "Poppins", sans-serif;
}
.likeDiv {
	display: flex;
	align-items: center;
	gap: 10%;
}
.commentDiv {
	display: flex;
	align-items: center;
	gap: 7%;
}

@media screen and (max-width: 1293px) {
	.userInfoDiv {
		width: 85%;
	}
}
@media screen and (max-width: 1071px) {
	.backgroundDiv {
		margin: 40px 0 0 0;
	}
}
@media screen and (max-width: 799px) {
	.backgroundDiv {
		width: 100%;
		padding: 30px;
	}
	.imagePostSkeleton {
		height: 600px;
	}
}
@media screen and (max-width: 537px) {
	.backgroundDiv {
		padding: 20px;
	}
}
@media screen and (max-width: 519px) {
	.userInfoDiv {
		width: 83%;
	}
}
@media screen and (max-width: 450px) {
	.description {
		font-size: 0.8rem;
	}
	.userInfoDiv {
		width: 80%;
	}
	.imagePostSkeleton {
		height: 500px;
	}
}
@media screen and (max-width: 413px) {
	.backgroundDiv {
		padding: 10px;
	}
	.CountDiv {
		gap: 7px;
	}
	.imagePostSkeleton {
		height: 450px;
	}
}
@media screen and (max-width: 395px) {
	.profilePictureDiv {
		width: 45px;
		height: 45px;
		border-radius: 50%;
	}
	.userInfoDiv {
		width: 83%;
	}
	.userName {
		font-size: 1rem;
	}
	.reactText {
		font-size: 1rem;
	}
}
@media screen and (max-width: 330px) {
	.userInfoDiv {
		width: 80%;
	}
	.userName {
		font-size: 0.9rem;
	}
	.reactText {
		font-size: 0.9rem;
	}
	.reactIcons {
		font-size: 1.5rem;
	}
	.reactIconsWithRed {
		font-size: 1.5rem;
	}
	.reactIcons2 {
		font-size: 1.7rem;
	}
}
