.backgroundDiv {
	background-color: white;
	/* border: 2px solid red; */
	width: 100%;
	padding: 20px;
	margin-top: 40px;
}
.backgroundDiv:first-child {
	margin-top: 0;
}
.postProfileInfo {
	/* margin-top: 20px; */
	/* border: 1px solid red; */
	display: flex;
	gap: 3%;
	align-items: center;
}
.postUserPictureSkeleton {
	height: 60px;
	width: 60px;
	border-radius: 50%;
}
.postUserPicture {
	width: 100%;
}
.userName {
	font-size: 1.05rem;
	font-weight: 700;
	font-family: "Poppins", sans-serif;
}
.userInfoDiv {
	/* border: 1px solid red; */
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.userLocation {
	font-size: 0.7rem;
	font-size: 500;
	margin-top: 5px;
	font-family: "Poppins", sans-serif;
	color: rgba(0, 0, 0, 0.573);
}
.followIcon {
	color: #025bb4;
	cursor: pointer;
	font-size: 1.1rem;
	transition: 0.2s ease-in-out;
}
.followIcon:hover {
	color: #00308f;
	transform: scale(1.1);
}
.description {
	/* border: 2px solid red; */
	font-family: "Poppins", sans-serif;
	font-size: 0.9rem;
	margin-top: 15px;
}
.imagePostDiv {
	margin-top: 20px;
}
.imagePost {
	width: 100%;
	border-radius: 20px;
}
.imagePostSkeleton {
	width: 100%;
	height: 900px;
}
.videoPost {
	width: 100%;
	border-radius: 20px;
}
.videoPostSkeleton {
	width: 100%;
	height: 750px;
}
.likeCommentSection {
	margin-top: 20px;
	display: flex;
	justify-content: space-evenly;
}
.reactIcons {
	font-size: 1.7rem;
}
.reactIcons2 {
	font-size: 1.9rem;
}
.reactText {
	font-size: 1.1rem;
	font-family: "Poppins", sans-serif;
}
.likeDiv {
	display: flex;
	align-items: center;
	gap: 10%;
}
.commentDiv {
	display: flex;
	align-items: center;
	gap: 7%;
}
