.backgroundDiv {
	background-color: white;
	/* border: 2px solid red; */
	width: 95%;
	padding: 20px;
	margin: 40px auto 0 auto;
}
.backgroundDiv:first-child {
	margin-top: 0;
}
.postProfileInfo {
	/* margin-top: 20px; */
	/* border: 1px solid red; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.profilePictureDiv {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	overflow: hidden;
	/* border: 1px solid red; */
}
.postUserPictureSkeleton {
	height: 60px;
	width: 60px;
}
.postUserPicture {
	width: 100%;
	/* height: 100%; */
}
.userName {
	font-size: 1.05rem;
	font-weight: 700;
	font-family: "Poppins", sans-serif;
}
.userInfoDiv {
	width: 87%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.userLocation {
	font-size: 0.7rem;
	font-size: 500;
	margin-top: 5px;
	font-family: "Poppins", sans-serif;
	color: rgba(0, 0, 0, 0.573);
}
.followIcon {
	color: black;
	cursor: pointer;
	font-size: 1.1rem;
	transition: 0.2s ease-in-out;
}
.followIcon:hover {
	color: #00308f;
	transform: scale(1.1);
}
.description {
	/* border: 2px solid red; */
	font-family: "Poppins", sans-serif;
	font-size: 0.9rem;
	margin-top: 15px;
}
.imagePostDiv {
	margin-top: 20px;
}
.imagePost {
	width: 100%;
	border-radius: 20px;
}
.imagePostSkeleton {
	width: 100%;
	height: 900px;
}
.videoPost {
	width: 100%;
	border-radius: 20px;
}
.videoPostSkeleton {
	width: 100%;
	height: 750px;
}
.LikeAndCommentCount {
	/* margin-top: 5px; */
	display: flex;
	font-family: "Poppins", sans-serif;
	/* align-items: center; */
	gap: 15px;
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.24);
}
.middleDot {
	font-size: 3rem;
}
.reactIconsHeart {
	font-size: 1.3rem;
	color: red;
}
.reactIconsComment {
	font-size: 1.2rem;
	color: #025bb4;
}
.CountDiv {
	display: flex;
	align-items: center;
	gap: 10px;
}
.likeCommentSection {
	margin-top: 20px;
	display: flex;
	justify-content: space-evenly;
}
.reactIcons {
	font-size: 1.7rem;
	transition: 0.2s ease-in-out;
}
.reactIconsWithRed {
	color: red;
	font-size: 1.7rem;
	transition: 0.2s ease-in-out;
}
.reactIcons2 {
	font-size: 1.9rem;
	transition: 0.2s ease-in-out;
}
.reactText {
	font-size: 1.1rem;
	font-family: "Poppins", sans-serif;
}
.likeDiv {
	display: flex;
	align-items: center;
	gap: 10%;
	cursor: pointer;
	outline: none;
	border: none;
	background-color: white;
	color: black;
}
.likeDiv:hover .reactIcons {
	transform: scale(1.1);
}
.commentDiv {
	display: flex;
	align-items: center;
	gap: 7%;
	cursor: pointer;
	outline: none;
	border: none;
	background-color: white;
}
.commentDiv:hover .reactIcons2 {
	transform: scale(1.1);
}
.alreadyLiked {
	color: red;
}
.commentSection {
	margin-top: 25px;
}
.commentHeader {
	font-size: 1rem;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}
.totalCommentDiv {
	margin-top: 15px;
}
